.idea/
.ipynb_checkpoints/
*.pyc

RockPy/packages/generic/Measurement/__pycache__/
RockPy/packages/generic/__pycache__/
RockPy/packages/Mag/Measurement/Simulation/__pycache__/
RockPy/packages/Mag/Measurement/__pycache__/
RockPy/packages/Mag/__pycache__/
RockPy/packages/Mag/io/__pycache__/
RockPy/packages/__pycache__/
RockPy/__pycache__/
RockPy/core/__pycache__/
RockPy/tests/__pycache__/
RockPy/mike_testing
RockPy/tests/test_data/~\$SPD_Test_Data_Table\.xlsx

new_minfo.ipynb

Study_import_solder_test.ipynb

VSM import test.ipynb
.DS_Store
/mike_testing/
/venv/
